@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import 'node_modules/modern-normalize/modern-normalize.css';

:root{
  --custom-color:green;
}

body {
    color:var(--custom-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:1.2em;
    line-height:1.15;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.portrait {
  border-radius: 50%;
  border-color: var(--custom-color);
  border-width: 2px;q
}