/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:wght@400;500&display=swap');
@import 'node_modules/modern-normalize/modern-normalize.css';

/*   ----- Variables  -----  */
:root {
  --dark-green: #2E4014;
  --light-green: #5C732C;
  --light-orange: #F2994B;
  --orange: #F27830;
  --dark-orange: #D95323;
  --dark-blue: #00003D;
  --transparent-white: rgba(255, 255, 255, 0.7);
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {
  background-image: url(./images/orange-flower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  color: var(--dark-green);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5;

  max-width: 80vw;
  margin: auto;
  padding: 2%;
}



/*  ----- Page layout blocks -----  */
header, footer {
  background-color: var(--dark-orange);
  color: inherit;
  width: 100%;
  text-align: center;
  justify-content: center;
  /* height: 100px; */
  padding: 40px;
  border-radius: 50px;
}
header {
  top: 0;
  /* position: fixed; */
}
footer {
  margin-top: 20px;
  bottom: 0;
}


main {
  background: var(--transparent-white);
  border-radius: 50px;
  padding: 3%;
  margin-top: 20px;

}
section {}
  article {}
    #topic1 {}
    #topic2 {}
div {}
aside {}
footer {}

/* ----- Anchors ----- Text links */
a {
  color: var(--dark-blue);
}
a:link {}
a:hover {}
a:active {}
a:visited {}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav.pages{
  margin-top: 20px;
}
nav.pages a {
  padding: 5px;
  margin-left: 30px;
  background-color: var(--light-green);
  color: var(--light-orange);
  border-radius: 20px;
  border: 3px dashed var(--light-green);
  text-decoration: none;
}
nav.pages a:hover {
  color: var(--light-green);
  margin-left: 30px;
  padding: 5px;
  background-color: var(--light-orange);
  border: 3px dashed var(--light-green);
}

nav.locations {
  display: flex;
  justify-content: space-around;
}

nav.locations a{
  text-decoration: none;
  font-weight: 500;
  border: 2px dotted var(--light-green);
  padding: 8px;
  border-radius: 20px;
  text-align: center;
}
nav.locations a:hover{

}

.radio, .checkbox {
  display: inline;
}

/*  -----  Typography  ----- */
p {
    text-indent: 5%;
}
br {}
ol, ul, dl {}
li {}
dt {}
dd {}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bruno Ace SC', cursive;
  font-weight: 500;
} 
h1 span {
  background-color: var(--dark-orange);

}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}
strong {}
sub {}
sup {}
time {}

/*  ----- Coding or instructional typography ----- */
pre {}
code {}
kbd {}
samp {}
var {}
del {} 
ins {}

/*  ----- Table ----- */
table {
  border-collapse: collapse;
  background-color: var(--light-orange);
  margin: 50px auto;
}
tr, th, td {
  border: 4px solid var(--dark-orange);
}
th, td {
  padding: 15px;
}
th:nth-col(3) {
  width: 20px;
}
caption {
  font-weight: bold;
  font-size: larger;
}
thead {}
tbody {}
tfoot {}
tr {}
tr:nth-child(even) {
    background-color: var(--orange);
    color: var(--dark-blue);
}
th {}
td {}
  td:nth-child(1) {}
colgroup {}
data {}
datalist {}


/*  ----- Form ----- */
form {}
fieldset {
  border: 2px solid var(--light-green);
  margin-top: 15px;
  padding: 12px;
}

legend {
  color: var(--light-orange);
  font-size: large;
  font-weight: bold;
  text-shadow: 2px 2px 0px black;
}

input,
button,
textarea,
option,
select {
  font-size: 110%;
  padding: 1%;
  font-family: inherit;
}

input[type='number']{
  width: 50px;
} 

label {
  display: block;
  margin-top: 1%;
}

button {
  border-radius: 10px;
  background-color: var(--light-orange);
  color: var(--dark-green);
}

*:focus {
  background-color: var(--light-orange);
}

button:hover {
  background-color: var(--dark-green);
  color: var(--light-orange);
  outline: none;
}

*:required {
  border: 2px solid green;
}

*:focus::placeholder {
  color: white;
}

input:invalid {
  border: 3px solid red
}

input:valid {
  border: 2px solid green
}

/* cant get the following to work  */
/* .checkbox input[type="checkbox"]:checked {
  color: var(--light-orange);
  font-style: italic;
}
label input[type="checkbox"] {
  color: blue;
  font-style: italic;
  background: red;
}

input[type="checkbox"]:checked {
  color: var(--light-orange);
  font-style: italic;
} */

label.required:after {
  content: " *";
  color: red;
}
  input {}
  output {}
  meter {}
  progress {}
  select[data-chosen='none'] { 
    /* border: 2px solid red; */
    outline-offset:2px;outline:12px solid;
}
  optgroup {}
  option {}
  textarea {
    display: block;
  }
  
  /* ----- Media ----- */
  .gallery {
    background-color: var(--light-orange);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50px;
  }
  
  .gallery img {
    max-width: 600px;
    border: 1px solid var(--dark-orange);
  }
  
  .portrait {
    border-radius: 50%;
    border-color: var(--custom-color);
    border-width: 2px;
  }
  
  figcaption {
    font-weight: bold;
  }
figure {
}
  figcaption {
    text-align: center;
    color: inherit;
  text-shadow: 0px 0px 4px white;
  }
  figure img {}
svg {}
picture {}
  source {}
iframe {}
video {}
audio {}
embed {}
object {}

/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */

.floatright {}
.floatleft {}
.center-middle {}

.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}

.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {}

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}